label {                                                                         
    color: blue;                                                                
    font: 12px "Comic Sans";                                                    
}                                                                               
                                                                                
label#title1 {                                                                  
    font: bold;                                                                 
    font: 16px "Comic Sans";                                                    
    background-color: #ABB2B9;                                                  
}                                                                               
                                                                                
button {                                                                        
  font: 20px "Comic Sans";                                                      
}                                                                               
                                                                                